page-comparison {
    .col{
        width:50px;
    }

    .thumbs{
        height:10px;
        width:10px;
        margin-top: 49px;
        margin-left: 10px;
    }

    .row{
        height:100px;
    }

    .row p{
        padding-top: 30px;
        text-align: center;
    }

}
